.github/                               @jellyfin/core
blog/                                  @jellyfin/core
src/data/                              @jellyfin/core
docs/general/contributing/direct-donations.mdx @jellyfin/core
docs/general/about.md                  @jellyfin/core
docs/general/community-standards.md    @joshuaboniface
docs/general/contributing/             @jellyfin/core
content/developers/                    @nielsvanvelzen
