.header {
  display: flex;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
}

.header .pills {
  flex-grow: 1;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
