.button--jetbrains {
  background-color: #fff;
  color: #000;

  &:hover,
  &:active {
    color: var(--ifm-navbar-link-color);
    background-color: var(--ifm-navbar-background-color);
    border-color: var(--ifm-font-color-base);
  }
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
