.button--jetbrains {
  background-color: #fff;
  border-color: #fff;
  color: #000 !important;
}
.button--jetbrains:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.button--jetbrains:active {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
