.button--jetbrains {
  background-color: #fff;
  color: #000;

  &:hover,
  &:active {
    color: #fff;
    background-color: var(--ifm-background-color);
    border-color: #e6e6e6;
  }
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
