.button--digitalocean {
  background-color: #0080ff;
  border-color: #0080ff;
}
.button--digitalocean:hover {
  background-color: #0073e6;
  border-color: #0073e6;
}
.button--digitalocean:active {
  background-color: #006dd9;
  border-color: #006dd9;
}

.button--jetbrains {
  background-color: #fff;
  color: #000 !important;
}

.button--jetbrains:hover,
.button--jetbrains:active {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
