.card--dev-index {
  h2 {
    margin: 10px 20px 0 20px;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 10px 10px 0 10px;

    li a {
      display: block;
      padding: 10px;
    }
  }
}
