/* stylelint-disable docusaurus/copyright-header */

.cta {
  background: linear-gradient(to left, var(--jf-gradient-color-secondary-dark), var(--jf-gradient-color-primary-dark));
  padding: 4rem 0;
  text-align: center;
}

.cta-sub {
  opacity: 0.85;
  margin: 0;
}
