/* stylelint-disable docusaurus/copyright-header */

.landing-section {
  padding: 24pt 0;
}

.landing-section:first-child {
  border-top: 1px solid var(--jf-landing-border-color);
}

.landing-section:nth-child(even) {
  background-color: var(--jf-landing-background-color);
  border-top: 1px solid var(--jf-landing-border-color);
  border-bottom: 1px solid var(--jf-landing-border-color);
}

.landing-section:last-child {
  border-bottom: 1px solid var(--jf-landing-border-color);
}

.logo {
  width: 6em;
}
