.card--contact {
  width: 100%;
}

/* Brand button styles */
.button--discord {
  background-color: #c6caf0;
  border-color: var(--ifm-navbar-background-color);
  color: #000000;

  &:hover,
  &:active {
    background-color: var(--ifm-navbar-background-color);
  }
}

.button--matrix {
  background-color: #00e6a4;
  border-color: var(--ifm-navbar-background-color);
  color: var(--jf-contact-button-color);

  &:hover,
  &:active {
    background-color: var(--ifm-navbar-background-color);
  }
}

.button--twitter,
.button--forum {
  border-color: var(--ifm-navbar-background-color);

  &:hover,
  &:active {
    border-color: var(--ifm-color-content);
  }
}

.button--mastodon {
  background-color: #c7c7ff;
  border-color: var(--ifm-navbar-background-color);
  color: #000000;

  &:hover,
  &:active {
    background-color: var(--ifm-navbar-background-color);
  }
}

html[data-theme='dark'] {
  .button--matrix,
  .button--discord,
  .button--mastodon,
  .button--twitter,
  .button--forum {
    &:hover,
    &:active {
      border-color: var(--ifm-color-content);
    }
  }
}
