.card--contact {
  width: 100%;
}

/* Brand button styles */
.button--discord {
  background-color: #5865f2;
  border-color: #5865f2;
}
.button--discord:hover {
  background-color: #3949f0;
  border-color: #3949f0;
}
.button--discord:active {
  background-color: #2a3bee;
  border-color: #2a3bee;
}

.button--matrix {
  background-color: #0dbd8b;
  border-color: #0dbd8b;
}
.button--matrix:hover {
  background-color: #0caa7d;
  border-color: #0caa7d;
}
.button--matrix:active {
  background-color: #0ba176;
  border-color: #0ba176;
}

.button--xcorp {
  background-color: #000;
  border-color: #000;
}
.button--xcorp:hover {
  background-color: #16181c;
  border-color: #16181c;
}
.button--xcorp:active {
  background-color: #000;
  border-color: #000;
}

.button--mastodon {
  background-color: #6364ff;
  border-color: #6364ff;
}
.button--mastodon:hover {
  background-color: #563acc;
  border-color: #563acc;
}
.button--mastodon:active {
  background-color: #2f0c7a;
  border-color: #2f0c7a;
}

.button--forum {
  background-color: #00a4dc;
  border-color: #00a4dc;
}
.button--forum:hover {
  background-color: #0094cc;
  border-color: #0094cc;
}
.button--forum:active {
  background-color: #0084bc;
  border-color: #0084bc;
}
