.section {
  color: white;
  background: rgb(194, 64, 133);
  background: linear-gradient(
    87deg,
    rgba(194, 64, 133, 1) 0%,
    rgba(214, 73, 73, 1) 100%
  );
  font-size: 1.2rem;
}

.logo {
  z-index: 1;
  position: absolute;
  opacity: 0.25;
  width: 32em;
  margin-left: 5em;
  margin-top: -7em;
}

.section-title {
  font-size: 2.488rem;
  font-weight: 800;
  line-break: strict;
}

.member-counts {
  font-size: 2.488rem;
  font-weight: 600;
}

.member-counts .number {
  font-size: 2.986rem;
}
