.cta {
  background: rgb(45, 62, 194);
  background: linear-gradient(
    270deg,
    rgba(45, 62, 194, 1) 0%,
    rgba(126, 45, 194, 1) 100%
  );
  color: white;
  text-align: center;
}

.section-title {
  font-size: 2.488rem;
  font-weight: 800;
  line-break: strict;
}
