.cta {
  background: rgb(251, 182, 23);
  background: linear-gradient(
    90deg,
    rgba(251, 182, 23, 1) 0%,
    rgba(251, 235, 23, 1) 100%
  );
  text-align: center;
}

.section-title {
  font-size: 2.488rem;
  font-weight: 800;
  line-break: strict;
}
