/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

html {
  /* Note: "normal" activates all common ligatures */
  font-variant-ligatures: normal;
}

code {
  font-variant-ligatures: none;
}

:root {
  /* base font */
  --ifm-font-family-base: 'Noto Sans', sans-serif;
  --ifm-line-height-base: 1.7;
  --ifm-font-color-base: #ffffff;
  /* headings */
  --ifm-h1-font-size: 2.074em;
  --ifm-h2-font-size: 1.728em;
  /* custom colors */
  --ifm-color-primary: #007ca6;
  --ifm-color-primary-dark: #00749b;
  --ifm-color-primary-darker: #006b90;
  --ifm-color-primary-darkest: #006385;
  --ifm-color-primary-light: #008dbd;
  --ifm-color-primary-lighter: #009ed4;
  --ifm-color-primary-lightest: #00afeb;
  --ifm-background-color: #000b25 !important;
  /* buttons */
  --ifm-button-color: #ffffff;
  --ifm-button-border-radius: 30px;
  /* cards */
  --ifm-card-background-color: #172138;
  /* code blocks */
  --ifm-code-font-size: 95%;
  --ifm-code-background: #292d3e; /* match code blocks */
  /* footer */
  --ifm-footer-background-color: #333c44;
  --ifm-footer-link-color: #ffffff;
  /* navbar */
  --ifm-navbar-background-color: #000b25;
  --ifm-navbar-search-input-background-color: #172138;
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  /* tabs */
  --ifm-tabs-padding-vertical: 0.5rem;

  /* custom Jellyfin colors */
  --jf-gradient-color-primary-dark: #003c50;
  --jf-gradient-color-secondary-dark: #3e2247;
}

h1 {
  font-weight: 300;
  line-height: 1.35;
}

h2 {
  font-weight: 300;
  line-height: 1.35;
}

mark {
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-font-color-base);
}

/* The default text color for this badge is very low contrast */
.badge--info,
.badge--warning {
  color: var(--ifm-color-black);
}

/* Hide search keyboard hint on mobile to avoid overlap */
@media (max-width: 996px) {
  .navbar [class^='searchHintContainer_'] {
    display: none;
  }
}

a.pills__item {
  text-decoration: none;
}
a.pills__item:not(.pills__item--active) {
  color: var(--ifm-font-color-base);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.card--outline {
  background-color: transparent;
  border: 2px solid #172138;
  box-shadow: none;
}

.row--center {
  justify-content: center;
}

.fill--white {
  fill: var(--ifm-font-color-base);
}

/* To toggle the visibility of an image using the path fragment */
[data-theme='light'] img[src$='#hidden--light-mode'],
[data-theme='dark'] img[src$='#hidden--dark-mode'] {
  display: none;
}

@media (max-width: 996px) {
  .hidden--mobile {
    display: none;
  }
}

@media (min-width: 997px) {
  .hidden--desktop {
    display: none;
  }
}

.tabs-container {
  border: 1px solid #fff4;
  background-color: #fff1;
  border-radius: 8px;
  padding: 16px;
}
