.hero {
  position: relative;
  width: 100%;
  padding: 0;
}

.hero .button {
  margin: 6pt 2pt;
}

.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
  background-color: var(--jf-gradient-color-secondary-dark);
}

.hero__overlay--gradient {
  background: linear-gradient(220deg, var(--jf-gradient-color-secondary-dark), var(--jf-gradient-color-primary-dark));
}

.hero__inner {
  width: 100%;
  position: relative;
  z-index: 3;
}

.hero__inner .container {
  width: 88%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  padding: 3rem 0;
  overflow: auto;
}

.hero--large .hero__content {
  min-height: 500px;
  padding: 92px 0;
}

.hero__content__inner {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.hero__title {
  font-size: var(--ifm-h1-font-size);
  margin-bottom: 2rem;
}

.hero__text {
  opacity: 0.85;
  line-height: 1.7;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 0;
}
