.hero {
  position: relative;
  width: 100%;
  color: #fff;
  padding: 0;
}

.hero .button {
  margin: 6pt 2pt;
}

.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .9;
  z-index: 1;
  background-color: #3e2247;
}

.hero__overlay--gradient {
  background: linear-gradient(220deg,#3E2247,#003C50);
}

.hero__inner {
  width: 100%;
  position: relative;
  z-index: 3;
}

.hero__inner .container {
  width: 88%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  padding: 3rem 0;
  overflow: auto;
}

.hero--large .hero__content {
  min-height: 500px;
  padding: 92px 0;
}

.hero__content__inner {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.hero__title {
  color: #fff;
  margin-bottom: 1.25em;
}

.hero__text {
  opacity: .85;
  line-height: 1.7;
  text-align: left;
  font-size: 1.1em;
  text-align: center;
}
