name: build

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    uses: ./.github/workflows/__build.yml
    permissions: {}
    with:
      ref: ${{ github.event.pull_request.head.sha || github.sha }}
      upload-pages-artifact: ${{ github.event_name == 'push' && github.repository == 'jellyfin/jellyfin.org' }}

  deploy:
    if: github.event_name == 'push' && github.repository == 'jellyfin/jellyfin.org'
    name: Deploy to GitHub Pages
    permissions:
      pages: write
      id-token: write
    concurrency: build-deploy-pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
