name: test

on:
  pull_request:
  push:
    branches: [master]

jobs:
  test-urls:
    name: Test URLs
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        command:
          - test:blog-urls
          - test:docs-urls
          - test:web-urls

    steps:
      - name: Check out Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          check-latest: true
          cache: npm

      - name: Build and start test server
        run: |
          npm ci --no-audit
          npm run build
          npm run serve &

      - name: Test URL
        run: npm run ${{ matrix.command }}
