name: test

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  test-urls:
    name: Test URLs
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        command:
          - test:blog-urls
          - test:docs-urls
          - test:web-urls

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          check-latest: true
          cache: npm

      - name: Build and start test server
        run: |
          npm ci --no-audit
          npm run build
          npm run serve &

      - name: Test URL
        run: npm run ${{ matrix.command }}
